<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --heading-margin-bottom: {{ section.settings.heading_margin_bottom }}px;
    --button-margin-top: {{ section.settings.button_margin_top }}px;
    text-align: {{ section.settings.heading_alignment }};
    {%- render 'section-variables', section: section -%}
    font-family: F37Jan;
  }
  .heading-wrapper {
    margin-bottom: var(--heading-margin-bottom);
    text-align: {{ section.settings.heading_alignment }};
  }
  .button-wrapper {
    margin-top: var(--button-margin-top);
    text-align: center;
  }
</style>

{%- if request.page_type == 'product' and section.settings.enable_reviews_integration -%}
  <noscript>{{ 'product-reviews.css' | asset_url | stylesheet_tag }}</noscript>
  <link rel="stylesheet" href="{{ 'product-reviews.css' | asset_url }}" media="print" fetchpriority="low" onload="this.media='all'">
  <script type="module" src="{{ 'product-reviews.js' | asset_url }}" fetchpriority="low"></script>
{%- endif -%}

{%- if section.blocks.size > 0 -%}
  <div {% if request.page_type == 'product' %}id="reviews-{{ product.id }}" {% endif %} class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}">
    <div class="page-width{% if section.settings.full_width %} page-width--full{% endif %} relative">
      
      <!-- Heading -->
      <div class="heading-wrapper">
        <h2 class="heading title-md">{{ section.settings.heading }}</h2>
      </div>
      
      {%- for block in section.blocks -%}
        {% render block %}
      {%- endfor -%}
      
      <!-- Button -->
      <div class="button-wrapper">
        <a href="{{ section.settings.button_link }}" class="button button--primary button--fixed button--md icon-with-text" role="link" is="hover-link">
          <span class="btn-fill" data-fill="" style="transform: translateY(var(--motion-translateY)); --motion-translateY: -76%;"></span>
          <span class="btn-text">{{ section.settings.button_text }}
            <svg class="icon icon-arrow-right icon-sm transform" viewBox="0 0 21 20" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 10H18M18 10L12.1667 4.16675M18 10L12.1667 15.8334"></path>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.apps.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.apps.settings.header__reviews.content",
      "info": "t:sections.apps.settings.header__reviews.info"
    },
    {
      "type": "checkbox",
      "id": "enable_reviews_integration",
      "label": "t:sections.apps.settings.enable_reviews_integration.label",
      "info": "t:sections.apps.settings.enable_reviews_integration.info",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Default Heading"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "range",
      "id": "heading_margin_bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Heading Margin Bottom",
      "default": 60
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Click Here"
    },
    {
      "type": "range",
      "id": "button_margin_top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Button Margin Top",
      "default": 60
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "t:sections.global.settings.color_highlight.label"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "t:sections.global.settings.gradient_highlight.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ],
  "disabled_on": {
    "groups": [
      "custom.overlay"
    ]
  }
}
{% endschema %}
